/**滚轮样式*/
.cesium-mousezoom {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  margin-top: -24px; /*图片高度的一半*/
  margin-left: -24px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0.2s,opacity 0.2s ease-in;
  -moz-transition: visibility 0s 0.2s,opacity 0.2s ease-in;
  transition: visibility 0s 0.2s,opacity 0.2s ease-in;
}

.cesium-mousezoom .zoomimg {
  width: 48px;
  height: 48px;
  background-image: url(images/zoom_spot.png);
  background-size: 100% 100%;
}

.cesium-mousezoom-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

/**导航控件样式*/
.distance-legend {
  border: 0px solid black;
  background-color: rgb(93 24 24 / 0%);
  bottom: 0px;
  position: fixed;
  pointer-events: auto;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  right: 332px;
  height: 30px;
  width: 125px;
}

.navigation-controls {
  display: none;

  background: rgba(47, 53, 60, .8);
  position: absolute;
  right: 30px;
  top: 110px;
  width: 30px;
  border: 1px solid rgba(255, 255, 255, .1);
  font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.navigation-control,
.navigation-control-last {
  cursor: pointer;
  border-bottom: 1px solid #555
}

.naviagation-control:active {
  color: #fff
}

.navigation-control-last {
  border-bottom: 0
}

.navigation-control-icon-zoom-in {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding-bottom: 4px
}

.navigation-control-icon-zoom-out {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #fff
}

.navigation-control-icon-reset {
  position: relative;
  left: 10px;
  width: 10px;
  height: 10px;
  fill: rgba(255, 255, 255, .8);
  padding-top: 6px;
  padding-bottom: 6px;
  box-sizing: content-box
}

.compass,
.compass-outer-ring {
  width: 95px;
  height: 95px;
  position: absolute
}

.compass {
  top: 304px;
  /* top: 114px; */
  z-index: 107;
  pointer-events: auto;
  right: 37px;
  overflow: hidden
}

.compass-outer-ring {
  top: 0;
  fill: rgba(255, 255, 255, .5)
}

.compass-outer-ring-background {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  border: 12px solid rgba(47, 53, 60, .8);
  box-sizing: content-box
}

.compass-gyro {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 95px;
  height: 95px;
  fill: #ccc
}

.compass-gyro-active,
.compass-gyro-background:hover+.compass-gyro {
  fill: #68adfe
}

.compass-gyro-background {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 33px;
  height: 33px;
  border-radius: 33px;
  border: 1px solid rgba(255, 255, 255, .2)
}

.compass-rotation-marker {
  position: absolute;
  top: 0;
  width: 95px;
  height: 95px;
  fill: #68adfe
}

/**左下角，鼠标经纬度提示*/
.gis-bar {
  position: absolute;
  z-index: 991;
  /*left: 110px;
  bottom: 1px;*/
  padding: 3px 10px;
  font-size: 13px;
  color: rgb(233, 233, 233);
  text-shadow: 2px 2px 2px #000;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.gis-bar div {
  float: right;
  min-width: 80px;
  margin-right: 20px;
}

@media screen and (max-width:600px) {
  .gis-bar {
      display: none;
  }
}

/**鹰眼缩略图*/
.overview-map {
  
  position: absolute;
  width: 20%;
  height: 20%;
  bottom: 5%;
  left: 3%;
  z-index: 999;
  /* background: red;
  border: solid blue 1px; */
}
.overview-div {
  backdrop-filter: blur(20px);
  position: absolute;
  font-size: 15px;
  font-weight: 400;
  color: #ddd;
  /* background-color: #333c; */
  width: 30%;
  height: 30%;
  left: 3%;
  top: 13%;
  /* padding-bottom: 80px; */
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  /* opacity: .9; */
  z-index: 100;
  box-shadow: 0 1px 10px 1px rgb(0 0 0 / 12%);
}
.overview-close {
    background: url('../assets/img/close.png');
    color: #fff;
    float: right;
    position: absolute;
    top: 3px;
    right: 3px;
    opacity: 1;
    cursor: pointer;
    padding: 15px;
    z-index: 999;
}
.overview-narrow {
  background: url('../assets/img/narrow.png') no-repeat center;
  color: #fff;
  float: right;
  position: absolute;
  top: 3px;
  right: 35px;
  opacity: 1;
  cursor: pointer;
  padding: 15px;
  z-index: 999;
}
.overview-enlarge {
  background: url('../assets/img/fda.png') no-repeat center;
  color: #fff;
  float: right;
  position: absolute;
  top: 3px;
  right: 35px;
  opacity: 1;
  cursor: pointer;
  padding: 15px;
  display: none;
  z-index: 999;
}
/* debug框 */
.cesium-performanceDisplay-defaultContainer {
  position: absolute;
  top: 250px;
  right: 10px;
  text-align: right;
}
/*
 html 气泡样式1
*/
/*leaflet风格气泡窗口样式模板*/
.cesium-popup {
	position: absolute;
	text-align: center;
}

.cesium-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
}

.cesium-popup-content-wrapper {
	text-align: center;
	max-height: 200px;
	overflow-y: auto;
	background: rgba(63, 72, 84, 0.7);
	box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
	padding: 1px;
	text-align: left;
	border-radius: 4px;
    padding: 16px;;
}

.cesium-prompt-content-wrapper {
	text-align: center;
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
	padding: 1px;
	text-align: left;
}

.cesium-popup-content {
	line-height: 1.4;
}

.cesium-popup-tip-container {
	margin: 0 auto;
	width: 40px;
	height: 20px;
	position: relative;
	overflow: hidden;
}

.cesium-popup-tip {
	background:  rgba(63, 72, 84, 0.7);
	box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
	width: 17px;
	height: 17px;
	padding: 1px;
	margin: -10px auto 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.popupContent{
	color: white;
}
.promptDiv{
	background: rgba(0, 0, 0, 0.4);
	font-size: 10px;
}

.promptContent{
	color:white;
}
/*
呼吸灯
*/
.breathe-div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: commonly;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes commonly {
  0% {
      opacity: .4;
      border: 1px solid #0093df;
      box-shadow: 0 1px 1px rgba(0, 149, 223, 0.151), 0 1px 1px rgba(0, 147, 223, 0.1) inset;
  }

  100% {
      opacity: 1;
      border: 1px solid #0095df91;
      box-shadow: 0 1px 30px #0093df, 0 1px 20px #0093df inset;
  }
}

@-webkit-keyframes secondary {
  0% {
      opacity: .4;
      border: 1px solid #ffb324;
      box-shadow: 0 1px 2px rgba(0, 147, 223, 0.4), 0 1px 1px rgba(0, 147, 223, 0.1) inset;
  }

  100% {
      opacity: 1;
      border: 1px solid #ffb32491;
      box-shadow: 0 1px 30px #ffb324, 0 1px 20px #ffb324 inset;
  }
}

@-webkit-keyframes urgent {
  0% {
      opacity: .4;
      border: 1px solid #ff4e5791;
      box-shadow: 0 1px 2px rgba(0, 147, 223, 0.4), 0 1px 1px rgba(0, 147, 223, 0.1) inset;
  }

  100% {
      opacity: 1;
      border: 1px solid #ff4e57;
      box-shadow: 0 1px 30px #ff4e57, 0 1px 20px #ff4e57 inset;
  }
}
/*
超出隐藏
*/
.f-els3_3{overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}