/**滚轮样式*/
.cesium-mousezoom {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  margin-top: -24px; /*图片高度的一半*/
  margin-left: -24px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0.2s,opacity 0.2s ease-in;
  -moz-transition: visibility 0s 0.2s,opacity 0.2s ease-in;
  transition: visibility 0s 0.2s,opacity 0.2s ease-in;
}

.cesium-mousezoom .zoomimg {
  width: 48px;
  height: 48px;
  background-image: url(images/zoom_spot.png);
  background-size: 100% 100%;
}

.cesium-mousezoom-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

/**导航控件样式*/
.distance-legend {
  background-color:rgba(0, 0, 0, 0);
  bottom: 30px;
  position: fixed;
  pointer-events: auto;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  right: 208px;
  height: 30px;
  width: 125px;
}

.navigation-controls {

  background: rgba(47, 53, 60, .8);
  position: absolute;
  right: 68px;
  width: 30px;
  border: 1px solid rgba(255, 255, 255, .1);
  font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.navigation-control,
.navigation-control-last {
  cursor: pointer;
  border-bottom: 1px solid #555
}

.naviagation-control:active {
  color: #fff
}

.navigation-control-last {
  border-bottom: 0
}

.navigation-control-icon-zoom-in {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding-bottom: 4px
}

.navigation-control-icon-zoom-out {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #fff
}

.navigation-control-icon-reset {
  position: relative;
  left: 10px;
  width: 10px;
  height: 10px;
  fill: rgba(255, 255, 255, .8);
  padding-top: 6px;
  padding-bottom: 6px;
  box-sizing: content-box
}

.compass,
.compass-outer-ring {
  width: 95px;
  height: 95px;
  position: absolute
}

.compass {
  pointer-events: auto;
  right: 37px;
  top: 114px;
  overflow: hidden
}

.compass-outer-ring {
  top: 0;
  fill: rgba(255, 255, 255, .5)
}

.compass-outer-ring-background {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  border: 12px solid rgba(47, 53, 60, .8);
  box-sizing: content-box
}

.compass-gyro {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 95px;
  height: 95px;
  fill: #ccc
}

.compass-gyro-active,
.compass-gyro-background:hover+.compass-gyro {
  fill: #68adfe
}

.compass-gyro-background {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 33px;
  height: 33px;
  border-radius: 33px;
  border: 1px solid rgba(255, 255, 255, .2)
}

.compass-rotation-marker {
  position: absolute;
  top: 0;
  width: 95px;
  height: 95px;
  fill: #68adfe
}

/**左下角，鼠标经纬度提示*/
.gis-bar {
  position: absolute;
  z-index: 991;
  /*left: 110px;
  bottom: 1px;*/
  padding: 3px 10px;
  font-size: 13px;
  color: rgb(233, 233, 233);
  text-shadow: 2px 2px 2px #000;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.gis-bar div {
  float: right;
  min-width: 80px;
  margin-right: 20px;
}

@media screen and (max-width:600px) {
  .gis-bar {
      display: none;
  }
}

/**鹰眼缩略图*/
.overview-map {
  position: absolute;
  width: 20%;
  height: 20%;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  background: red;
  border: solid blue 1px;
}

/* debug框 */
.cesium-performanceDisplay-defaultContainer {
  position: absolute;
  top: 250px;
  right: 10px;
  text-align: right;
}
